{
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "globals": {
    "BdApi": true
  },
  "rules": {
    "react/prop-types": 0,
    "no-console": 0,
    "no-unused-vars": 1
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    }
  }
}
